<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>{{ htmlTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <meta name="description" content="Gain practical experience by working remotely on real world projects with other early-career developers.">
    <link href="/assets/styles.css" rel="stylesheet">
    <script defer src="/assets/behaviors.js"></script>
    <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@type": "EducationalOrganization",
      "name": "The Collab Lab",
      "logo": "https://the-collab-lab.codes/assets/img/sig-logo.png",
      "image": "https://the-collab-lab.codes/assets/img/sig-logo.png",
      "description": "Gain practical experience by working remotely on real world projects with other early-career developers."
    }
    </script>
  </head>
  <body>
    <div id="toast" class="toast hidden"></div>
    <header>
      <h1>{{{pageTitle}}}</h1>
      <nav>
        {{{navigation}}}
      </nav>
      {{{pageSubTitle}}}
    </header>
    <main>
      {{{ content }}}
    </main>
    <footer>
      <p>Copyright &copy; 2019 – 2020 The Collab Lab. All rights reserved.</p>
      <p>All participants agree to adhere to our <a href="/code-of-conduct/">Code of Conduct</a>.</p>
    </footer>
  </body>
</html>
