---
import { BaseLayout } from '~layouts';
import { teams, volunteers } from '~data';
import { DeveloperTeam } from '~components';

const mentorsCount = volunteers.filter((volunteer) =>
	volunteer.roles.includes('Mentor'),
).length;

// we've done 3 "advanced" project composed of returning collabies
// if/when we do more in the future this magic `3` will need to be
// updated
const developersCount = (teams.length - 3) * 4;

const firstHeadingId = 'collab-lab-developers';
---

<BaseLayout title="Developers" skipTargetId={firstHeadingId}>
	<div class="l-center--wide">
		<h2 id={firstHeadingId}>Collab Lab developers</h2>
		<!-- <div>
		<figure>
			<img src="/img/stats/Women.svg" alt="Women 78%" />
			<figcaption>
				<span>78%</span>
				<span>Women</span>
			</figcaption>
		</figure>
		<figure>
			<img src="/img/stats/LGBTQ.svg" alt="LGBTQ+ 38%" />
			<figcaption class="flex-text">
				<span>38%</span>
				<span>LGBTQ+</span>
			</figcaption>
		</figure>
		<figure>
			<img
				src="/img/stats/IdentifyasDisabled.svg"
				alt="People with Disabilities 18% "
			/>
			<figcaption class="flex-text">
				<span>18%</span>
				<span>People with disabilities</span>
			</figcaption>
		</figure>
		<figure>
			<img
				src="/img/stats/Advanceddegreeholders.svg"
				alt="87% Postsecondary degree holders"
			/>
			<figcaption class="flex-text">
				<span>87%</span>
				<span>Postsecondary degree holders</span>
			</figcaption>
		</figure>
		<figure>
			<img src="/img/stats/BootcampGrad.svg" alt="75% Bootcamp grads" />
			<figcaption class="flex-text">
				<span>75%</span>
				<span>Bootcamp grads</span>
			</figcaption>
		</figure>
	</div>

	<div class="display-stats">
		<div class="stats-list">
			<h3>Location</h3>
			<ul>
				<li>
					<span>North America</span>
					<span class="block block-270px"></span>
					<span>73%</span>
				</li>
				<li>
					<span>Europe / Africa</span>
					<span class="block block-65px"></span>
					<span>17%</span>
				</li>
				<li>
					<span>Latin America</span>
					<span class="block block-40px"></span>
					<span>10%</span>
				</li>
			</ul>
		</div>
		<div class="stats-list">
			<h3>Ethnicity</h3>
			<ul class="ethnicity-list">
				<li>
					<span>White</span>
					<span class="block block-170px"></span>
					<span>48.9%</span>
				</li>
				<li>
					<span>Black</span>
					<span class="block block-100px"></span>
					<span>26.7%</span>
				</li>
				<li>
					<span>Latinx</span>
					<span class="block block-45px"></span>
					<span>12.2%</span>
				</li>
				<li>
					<span>Asian</span>
					<span class="block block-45px"></span>
					<span>12.2%</span>
				</li>
			</ul>
		</div>
	</div> -->

		<p>
			Nearly all of the developers in The Collab Lab come from
			<strong>underrepresented groups</strong> in tech. Start here to
			<strong>diversify your pipeline!</strong> The Collab Lab is a community of
			<strong>{developersCount} developers</strong> and <strong
				>{mentorsCount} mentors</strong
			> from
			<strong>18 countries</strong> on <strong>4 continents.</strong>
		</p>
		<p>
			Our developers enter The Collab Lab with a strong baseline of coding
			skills including HTML, CSS, JavaScript, and React. They leave with
			experience in how software teams work.
		</p>
		<p>
			To participate in a Collab Lab cohort means buying into a
			<a
				href="https://hbr.org/2016/01/what-having-a-growth-mindset-actually-means"
				>growth mindset</a
			>, opening yourself to learning, and taking risks in a relatively
			low-stakes setting. Seasoned technologists guide these early-career
			developers as they pair program, review each others’ code, and submit &
			merge pull requests. They are also coached on how to be effective on a
			fully-distributed (i.e. remote) team by
			<a href="https://zapier.com/learn/remote-work/">
				people who do it every day for a living
			</a>.
		</p>
		<p>
			Alums of The Collab Lab report being better equipped to talk about how
			they work on a team as well as the thought processes behind their work,
			helping them perform better in job interviews for technical roles.
			<strong>Hire them!</strong>
		</p>
	</div>
	<div class="c-developers-container">
		<div class="l-center--wide c-developers">
			<h2>Meet our developers</h2>
			{teams.map((team) => <DeveloperTeam team={team} />)}
		</div>
	</div>
</BaseLayout>

<style>
	.c-developers-container {
		background-color: var(--color-black-dark);
	}

	.c-developers {
		color: var(--color-black-light);
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 3em;
	}

	.c-developers > h2 {
		text-align: center;
		margin-block-end: 0;
	}
</style>
