---
import { BaseLayout } from '~layouts';
import { ApplicationPrompt } from '~components';
import type { CohortRegions } from '~components';

// These date strings must be in UTC time,
// and must be in the format YYYY-MM-DD
const cohortApplicationWindow: [Date, Date] = [
	new Date('2024-01-14 UTC'),
	new Date('2024-01-21 UTC'),
];
const cohortKickoffDate = new Date('2024-02-04 UTC');

const cohortRegions: CohortRegions[] = [
	'North America',
	'Europe/Africa',
	'South Asia',
];

const firstHeadingId = 'about-the-collab-lab-program';
---

<BaseLayout title="Participate" skipTargetId={firstHeadingId}>
	<section>
		<div class="l-center--wide">
			<div class="l-switcher">
				<div class="o-grid-item">
					<h1 id={firstHeadingId} class="h2">About The Collab Lab Program</h1>
					<ul>
						<li>
							<span class="u-text-bold">Project type:</span> Client-side
							JavaScript application
						</li>
						<li>
							<span class="u-text-bold">Tech stack:</span>
							<a href="https://reactjs.org/">React</a> for UI development,
							<a href="https://firebase.google.com/">Firebase</a> for both
							database and hosting,
						</li>
						<li><span class="u-text-bold">Team size:</span> 4 developers</li>
						<li>
							<span class="u-text-bold">Project duration:</span> 40 hours per
							developer (5 hours/week over 8 weeks)
						</li>
					</ul>
					<p>
						Successful Collab Lab developers come in having already learned
						basic web development and programming concepts. We don’t teach
						coding; we teach collaboration! You don’t need a ton of experience,
						but
						<strong
							>you should have completed the equivalent of a coding bootcamp</strong
						>
						 where you’ve learned (at a minimum) basic HTML, CSS, and JavaScript
						and have completed a project or two in
						<a href="https://reactjs.org/">React</a>.
					</p>
					<a
						href="#how-to-apply"
						class="u-text-bold u-text-large"
						style="color:var(--color-blue-mid);">Join us!</a
					>
				</div>
				<img
					alt=""
					class="u-desktop-only"
					loading="lazy"
					src="/img/participate-hero.svg"
				/>
			</div>
		</div>
	</section>
	<section class="u-bg-black" style="padding-block: 0;">
		<div class="l-switcher">
			<div class="c-developers-collage u-desktop-only"></div>
			<div class="l-center c-visit-cta">
				<p class="h2">
					Visit our <a href="/developers">developers page</a> to learn more
					about each of the early career engineers who have contributed to The
					Collab Lab!
				</p>
			</div>
		</div>
	</section>
	<section
		style="background-color: var(--color-blue-mid); color: var(--color-white);"
	>
		<div class="l-center--wide u-center-text">
			<h2 id="how-to-apply" class="u-center-text">How to apply</h2>
			<ApplicationPrompt
				cohortApplicationWindow={cohortApplicationWindow}
				cohortKickoffDate={cohortKickoffDate}
				cohortRegions={cohortRegions}
			/>
		</div>
	</section>
	<section class="u-bg-black">
		<div class="l-center--wide">
			<div class="l-switcher">
				<div
					class="o-grid-item"
					style="display:flex;flex-direction: column;place-items: center;"
				>
					<h2 style="max-width: 12ch;">What happens after I apply?</h2>
					<img
						alt=""
						class="u-desktop-only"
						loading="lazy"
						src="/img/participate-apply.svg"
						style="margin-top:3em;max-width:65%;"
					/>
				</div>
				<div class="o-grid-item">
					<p>There are two possible outcomes:</p>
					<p>🤗 You get accepted. Yay! We’ll be in touch with next steps.</p>
					<p>😥 You get rejected. For now…try again!</p>
					<p>
						<span class="u-text-bold"
							>We anticipate more applicants than we will have slots.</span
						> If you’re qualified, but the numbers just didn’t work out, we’ll
						let you know that and you can totally apply the next time using the
						same info. If, on the other hand, we evaluated your experience and
						determined you didn’t meet the minimum requirements in some way,
						we’ll let you know that, too. That way you can put in the work to
						increase your chances of being accepted before the next application
						window opens.
					</p>
					<p>
						All of this means <span class="u-text-bold"
							>you may have to apply multiple times</span
						> in order to be selected. The good news is, you’ll know where you
						stand!
					</p>
					<h3>Have questions?</h3>
					<p>
						If you have any questions about the application process or what it’s
						like to participate in a Collab Lab cohort, please don’t hesitate to
						email Andrew at <a href="mailto:andrew@the-collab-lab.codes">
							andrew@the-collab-lab.codes</a
						>.
					</p>
					<p>
						Thank you so much for your interest in The Collab Lab! We look
						forward to working with you at some point in the future!
					</p>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
<style>
	ul {
		margin-top: 2.4em;
	}

	li + li {
		margin-top: 1.4em;
	}

	section:first-of-type li,
	section:first-of-type p {
		max-width: 52ch;
		margin-left: 0;
		margin-right: 0;
	}

	.c-image-placeholder {
		background-color: var(--color-blue-light);
	}

	.c-visit-cta {
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin: 0 auto;
		max-width: 95%;
		padding-bottom: 4.8em;
		padding-top: 4.8em;
		width: 124rem;
	}

	.c-visit-cta a {
		color: var(--color-yellow-mid);
	}

	.c-developers-collage {
		background-image: url('/img/participate-developers-collage.webp');
		background-image: -webkit-image-set(
			url('/img/participate-developers-collage.webp') type('image/webp'),
			url('/img/participate-developers-collage.png') type('image/png')
		);
		background-image: image-set(
			url('/img/participate-developers-collage.webp') type('image/webp'),
			url('/img/participate-developers-collage.png') type('image/png')
		);
		background-position: center;
		flex-basis: 50%;
		flex-grow: 0;
	}
</style>
