---
import { BaseLayout } from '~layouts';
import { techTalks } from '~data';

const firstHeadingId = 'tech-talks';
---

<BaseLayout title="Tech talks" skipTargetId={firstHeadingId}>
	<div class="l-center--wide">
		<h1 id={firstHeadingId} class="h2">Tech talks</h1>
		<div class="l-grid">
			<p>
				Our tech talks were presentations or discussions on various technical
				topics relevant to web development. Led by industry experts, these
				sessions aimed to educate participants on current trends and best
				practices, helping them stay up-to-date and expand their knowledge in
				the field. Check them out below!
			</p>
		</div>
	</div>
	<ul class="l-center--wide l-grid">
		{
			techTalks.map((talk) => (
				<li class="c-talk">
					{talk.youTubeEmbedUrl && (
						<iframe
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
							frameborder="0"
							loading="lazy"
							height="315"
							title={talk.title}
							src={talk.youTubeEmbedUrl}
							width="560"
						/>
					)}
					<h3 class="c-talk--title">{talk.title}</h3>
					<div class="c-talk--date">{talk.formattedDate}</div>
					<Fragment set:html={talk.description.html} />
				</li>
			))
		}
	</ul>
</BaseLayout>
<style>
	iframe {
		max-width: 100%;
	}

	.c-box {
		font-size: 1.35em;
		padding: 1em;
	}

	.c-box.pink {
		background-color: var(--color-pink-mid);
	}
	.c-box.pink a,
	.c-box.yellow a {
		color: var(--color-black-dark);
	}
	.c-box.yellow {
		background-color: var(--color-yellow-mid);
	}
	.c-talk {
		font-size: 0.8em;
		line-height: 1.4;
	}

	.c-talk > * + * {
		margin-block-start: 1em;
	}

	.c-talk--title {
		font-size: 1.25em;
	}

	.c-talk--date {
		font-style: italic;
		margin-block-end: 1em;
	}
</style>
