---
import type { CollabieData } from '@graphql';

export interface Props {
	collabie: CollabieData;
}

const { collabie } = Astro.props as Props;

const { fullName, roles } = collabie;

const socials = ['gitHub', 'linkedIn', 'twitter'] as const;

function getSocialInfo(collabie: CollabieData) {
	const ret = [];
	for (const site of socials) {
		const siteUrl = collabie[`${site}Url` as const];

		if (siteUrl && siteUrl.length > 0) {
			ret.push({
				site: site[0].toUpperCase() + site.slice(1),
				url: siteUrl,
			});
		}
	}
	return ret;
}
---

<h2>
	{fullName}
</h2>
<ul class="volunteer__roles">
	{roles.map((role) => <li class="volunteer__roles-item">{role}</li>)}
</ul>
<ul>
	{
		getSocialInfo(collabie).map(({ site, url }) => (
			<li>
				<a href={url}>
					Connect with {collabie.firstName} on {site}!
				</a>
			</li>
		))
	}
</ul>
