---
import { Footer, Header } from '~components';
import '../styles/global.css';

export interface Props {
	subtitle?: string;
	skipTargetId?: string;
	title: string;
}

const { title: _title, skipTargetId } = Astro.props as Props;

// Create a title that includes the page title, if one is provided.
// (e.g. `Participate | The Collab Lab`).
// The homepage is just `The Collab Lab`.
const title =
	_title === 'The Collab Lab' ? _title : `${_title} | The Collab Lab`;

// TODO: Allow the use of a custom description for each page,
// (via prop?), and fall back to this description if none is provided.
const description =
	'Gain practical experience by working remotely on real world projects with other early-career developers.';

const canonicalURL = new URL(
	Astro.url.pathname.replace(/([^/])$/, '$1/'),
	Astro.site,
);

const jsonLDSchema = JSON.stringify(
	{
		'@context': 'https://www.schema.org/',
		'@type': 'EducationalOrganization',
		name: title,
		logo: 'https://the-collab-lab.codes/img/logo.svg',
		image:
			'https://the-collab-lab.codes/img/participate-developers-collage.png',
		description: description,
		url: canonicalURL.href,
	},
	null,
	0,
);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta
			property="og:image"
			content={`${Astro.site}img/participate-developers-collage.png`}
		/>
		<meta property="og:url" content={canonicalURL.href} />
		<meta property="og:type" content="website" />
		<title>{title}</title>
		<link rel="canonical" href={canonicalURL.href} />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/outfit-v6-latin-regular.woff2"
			crossorigin
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/outfit-v6-latin-700.woff2"
			crossorigin
		/>
		<script type="application/ld+json" set:html={jsonLDSchema} />
	</head>
	<body>
		<a href={`#${skipTargetId}`} class="c-skip-link">Skip to content</a>
		<a href="#support-collab-lab" class="c-skip-link">Skip to footer</a>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
