---
import { GetInTouch, Navigation } from '~components';
import { getDonationOptions } from '../data/stripe';

const { options: donationOptions } = await getDonationOptions();

export interface Props {
	subtitle?: string;
	title: string;
	useTitleGradient?: boolean;
}

const { subtitle, title, useTitleGradient } = Astro.props as Props;

const jsonLDSchema = JSON.stringify(
	{
		'@context': 'http://www.schema.org',
		'@type': 'EducationalOrganization',
		name: 'The Collab Lab',
		logo: 'https://the-collab-lab.codes/img/sig-logo.png',
		image: 'https://the-collab-lab.codes/img/sig-logo.png',
		description:
			'Gain practical experience by working remotely on real world projects with other early-career developers.',
	},
	null,
	0,
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/source-sans-pro-latin-300.woff2"
			crossorigin
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href="/fonts/source-sans-pro-latin-600.woff2"
			crossorigin
		/>
		<script
			type="application/ld+json"
			set:html={JSON.stringify(jsonLDSchema, null, 0)}
		></script>
	</head>
	<body>
		<header>
			<div class="container">
				<h1>{title}</h1>
				<Navigation />
				{subtitle && <h2 set:html={subtitle} />}
			</div>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<div class="container">
				<h2 id="support">Support Collab Lab!</h2>
				<p>
					The Collab Lab is
					<strong>volunteer-driven and free for developers.</strong>
					We intentionally and actively work to overcome barriers to opportunities
					for women and under-represented minorities in tech.
				</p>
				<p>
					We make use of free/
					<a href="https://www.dictionary.com/browse/freemium">freemium</a>
					tools (i.e. Airtable, Firebase, GitHub, Google Docs, Netlify, Slack, Notion,
					and Zoom) as much as possible. We would love to have the ability to use
					upgraded versions of some of these tools to provide a better experience
					for our volunteers and developers. To this end, we accept
					<a href="https://github.com/sponsors/the-collab-lab">
						sponsorships through GitHub
					</a>. ❤️
				</p>
				<iframe
					height="35"
					loading="lazy"
					src="https://github.com/sponsors/the-collab-lab/button"
					style="border: 0"
					title="Sponsor the-collab-lab"
					width="116"></iframe>
				<p>
					We also accept direct donations. Please consider supporting The Collab
					Lab with a one-time donation.
				</p>
				<div class="donation-options">
					{
						donationOptions.map((option) => (
							<a href={option.url} class="donation-button">
								{option.name}
							</a>
						))
					}
				</div>
				<GetInTouch />
				<div class="copyright">
					<p>
						Made with
						<a href="https://astro.build/">Astro</a> and
						<a href="https://hygraph.com/">Hygraph</a>. Deployed on <a
							href="https://www.netlify.com/">Netlify</a
						>.
					</p>
					<p>
						Copyright &copy; 2019 – {new Date().getFullYear()} The Collab Lab. All
						rights reserved.
					</p>
					<p>
						All participants agree to adhere to our
						<a href="/code-of-conduct/">Code of Conduct</a>.
					</p>
				</div>
			</div>
		</footer>
		<style is:global>
			@font-face {
				font-family: 'Source Sans Pro';
				font-display: swap;
				font-style: normal;
				font-weight: 300;
				src: url('/fonts/source-sans-pro-latin-300.woff2') format('woff2'),
					url('/fonts/source-sans-pro-latin-300.woff') format('woff');
			}

			@font-face {
				font-family: 'Source Sans Pro';
				font-display: swap;
				font-style: normal;
				font-weight: 600;
				src: url('/fonts/source-sans-pro-latin-600.woff2') format('woff2'),
					url('/fonts/source-sans-pro-latin-600.woff') format('woff');
			}

			:root {
				--color-black-dark: hsla(0, 0%, 5%, 1);
				--color-black-mid: hsla(0, 0%, 55%, 1);
				--color-black-light: hsla(0, 0%, 98%, 1);

				--color-pink-dark: hsla(313, 26%, 57%, 1);
				--color-pink-mid: hsla(313, 100%, 79%, 1);
				--color-pink-light: hsla(313, 100%, 93%, 1);

				--color-blue-dark: hsla(54, 35%, 55%, 1);
				--color-yellow-mid: hsla(54, 100%, 50%, 1);
				--color-yellow-light: hsla(54, 100%, 83%, 1);

				--color-blue-dark: hsla(216, 24%, 44%, 1);
				--color-blue-mid: hsla(216, 100%, 52%, 1);
				--color-blue-light: hsla(216, 100%, 91%, 1);

				--color-green-dark: hsla(137, 39%, 30%, 1);
				--color-green-mid: hsla(145, 63%, 42%, 1);
				--color-green-light: hsla(137, 100%, 90%, 1);

				--color-text: var(--color-black-dark);
				--color-bg: var(--color-black-light);
				--color-border: hsl(17, 24%, 90%);

				--font-size-base: 1.4rem;
				--font-size-lg: clamp(1.92rem, 0.7vw + 1.92rem, 2.4rem);
				--font-size-xl: clamp(3.904rem, 2.38vw + 2.96rem, 6rem);
			}

			@media screen and (min-width: 768px) {
				:root {
					--font-size-base: 1.6rem;
				}
			}

			*,
			*::after,
			*::before {
				box-sizing: border-box;
			}

			html {
				font-family: 'Source Sans Pro', system-ui, sans-serif;
				font-size: 62.5%;
				color: var(--color-text);
				background-color: var(--color-bg);
			}

			body {
				font-size: var(--font-size-base);
				margin: 0;
			}

			h1 {
				font-size: var(--font-size-xl);
				text-align: center;
			}

			h2 {
				font-size: var(--font-size-lg);
			}

			header > h2 {
				font-weight: 400;
			}

			blockquote,
			p,
			li {
				max-width: 75ch;
			}

			.container {
				margin: 0 auto;
				width: 124rem;
			}

			.donation-button {
				appearance: button;
				color: inherit;
				border: 1px solid var(--color-text);
				border-radius: 4px;
				padding: 0.5rem 1.6rem;
				text-decoration: none;
			}

			.donation-button + .donation-button {
				margin-left: 0.4rem;
			}
		</style>
	</body>
</html>
